* {
    font-family: "Halvetica", sans-serif;
    font-size: 22px;
    color: seashell;
    background-color: black;
    opacity: 0.9;
    text-align: center;
}

:root {
    --z-1: 100;
    --z-2: 200;
    --z-3: 300;
    --z-4: 400;
    --z-5: 500;
    --z-6: 600;
    --z-7: 700;
    --z-8: 800;
    --z-9: 900;
}

header {
    height: 69px;
    position: fixed;
    width: 100%;
    z-index: var(--z-9);
    opacity: 1;
    justify-content: space-between;
    border-bottom: 1px solid seashell;
    display: flex;
    display: block;
    top: 0;
    
}

.header img {
    height: 50px;
    display: inline-flex;
    float: left;
    vertical-align: middle;
}

nav {
    display: inline-flex;
    margin: 0 auto;
    float: right;
    height: 100%;
}

nav li {
    display: inline-block;
    text-align: left;
    
}

nav li a {
    padding: 10px 20px;
}

main {
    display: flex;
    position: relative;
    top: 70px;
    max-width: 100%;
    margin-bottom: 50px;
    align-items: center;
    flex-flow: column wrap;
    display: block;
    z-index: var(--z-8)
}

.mission-container {
    max-width: 1200px;
    height: 700px;
    background-image: url('D:/A-Programming/Codecademy/TeaCozy/resources/images/img-mission-background.webp');
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    z-index: var(--z-8);
    flex-grow: 1;
}

.text-over {
    position: static;
    background-color: black;
    margin: auto;
    flex-grow: 1;
    width: 100%;
}

.featured {
    display: block;
    z-index: var(--z-8);
}

.teas-container {
    z-index: var(--z-8);
    position: static;
    display: inline-flex;
    max-width: 1000px;
    height: auto;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.tea img{
    flex-flow: row wrap;
    width: 300px;
    height: 200px;
    justify-content: space-around;
    padding: 10px 10px;
}

.locations {
    background-image: url('D:/A-Programming/Codecademy/TeaCozy/resources/images/img-locations-background.webp');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    z-index: var(--z-8);
    flex-grow: 1;
    height: 500px;
    margin: auto;
    max-width: 1200px;
    display: block;
}

.heading-text {
    font-weight: bold;
    background-color: transparent;
    opacity: 1;
}

.location-container {
    display: flex;
    max-width: 1050px;
    margin: 15px auto;
}

.location {
    max-width: 300px;
    height: auto;
    padding: 20px;
    opacity: 1;
}

footer {
    padding: 0 20px;

}

#copyright {
    text-align: left;
}